*~
O.*
*.swp
#RELEASE*.local*
#CONFIG_SITE.local*
bin/
lib/
documentation/html
documentation/xml
Doxyfile.bak
/db/
/dbd/
/include/
/templates
envPaths
cdCommands
dllPath*.bat
runIOC.bat
runIOC.sh
relPaths.sh
/ADAndor/data/
/ADAndorIstar/data/
NULL
.project
/*/db/
/*/dbd/
/*/include/
/*/iocs/
/ADnED/example/db/
/ADnED/example/dbd/
